﻿@{
    Layout = null;
}
<div>
    <div class="col-lg-12">
        <h2>
            {{item.title}}
        </h2>
    </div>
    <div class="col-lg-12">
        <img src="http://dummyimage.com/640x480/000/fff" />
    </div>
    <div class="col-lg-12">
        <div class="item-view-description">
            <p>{{item.description}}</p>
        </div>
    </div>
    <a ng-href="{{item.link}}">Visit website</a>
</div>