﻿

<div class="left-side sidebar" ng-show="sidebar">
    <div class="left-side-container" ng-cloak>

        <div class="area">
            <h1>MyRss</h1>
        </div>

        <div ng-show="!isAuth" class="authentication-container">
            <p>
                Already registered ?
            </p>
            <button ui-sref="login" class="btn btn-success btn-block">
                Sign in
            </button>
            <br />
            <p>
                Otherwise you can register and keed your feeds up to date.
            </p>
            <button ui-sref="register" class="btn btn-primary btn-block">
                Sign up
            </button>
        </div>
        @*<ul class="sidebar-menu" ng-show="!isAuth">
                <li class="">
                    <a href="#" ui-sref="channels.add" class="">
                        <span class="fa fa-plus"></span>
                        Sign in
                    </a>
                </li>
                <li class="">
                </li>
            </ul>*@

        <ul class="sidebar-menu" ng-show="isAuth">
            <li class="treeview">
                <a href="#" ui-sref="home" class="">
                    <span class="fa fa-home"></span>
                    Home
                </a>
            </li>
            <li class="treeview">
                <a href="#" ui-sref="channels.add" class="">
                    <span class="fa fa-plus"></span>
                    Add channel
                </a>
            </li>
            <li class="treeview">
                <a href="#" ui-sref="categories.create" class="">
                    <span class="fa fa-plus"></span>
                    Add category
                </a>
            </li>
            <li class="treeview">
                <span class="fa fa-th-list all-category"></span>
                <a href="#" ui-sref="all" class="">
                    All
                </a>
            </li>
            <li class="treeview" ng-repeat="cat in categories.list" ng-cloak>
                <div class="category-container">
                    <span class="fa category-arrow" ng-click="openCategory(cat)" ng-class="{'fa-chevron-right':!cat.opened, 'fa-chevron-down':cat.opened}"></span>
                    @*                    <a href="#" class="category" ng-click="select(cat)">*@
                    <a href="#" ui-sref="categories.items({catId: cat.id})" class="category">
                        {{cat.title}}
                    </a>
                </div>
                <ul class="treeview-menu" ng-show="cat.opened">
                    <li ng-repeat="channel in cat.channelsObjects">
                        <div class="channel-container">
                            <a href="#" ui-sref="channels.items({channelId: channel.id})">
                                @*<a href="#" ng-click="selectChannel(channels[id])">*@
                                <span>
                                    <img src="//www.google.com/s2/favicons?domain={{channel.link}}" />
                                </span>
                                <span>{{channel.title}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <div ng-show="isAuth" class="sidebar-footer">
            <div class="" ng-controller="userCtrl">
                @*<button ui-sref="login" class="btn btn-primary btn-xs" ng-show="!isAuth">Sign in</button>*@
                <button ng-click="logout()" class="btn btn-primary btn-xs">Sign out</button>
                @*<div class="row" ng-controller="userCtrl">
                        <div class="col-lg-8 col-md-8">
                            {{user.name}}
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>


<div class="right-side" ng-style="sidebar ? {'padding-left':'260px'}: {}">
    <div class="main-view">
        @*<div ng-include="current.template">
            </div>*@
        <div ui-view></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/RSSapp")
}