﻿@{
    Layout = null;
}

<div class="main-content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="header">
                <h1>{{category.title}}</h1>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="featured">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Featured 1
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Featured 2
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Featured 3
                </div>
            </div>
        </div>*@
    @*TODO: Add filter to get items from channel, items from category's channels or ALL *@
    <div class="item-view col-lg-12 col-md-12 col-sm-12 col-xs-12"
         ng-repeat="item in category.channelsObjects | items"
         ng-include="'/templates/item'">
    </div>
</div>

@*@model MyRssServer.Models.Channel

    @{
        ViewBag.Title = "View";
    }

    <h2>View</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Channel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
