﻿@{
    Layout = null;
}

<form role="form" ng-submit="create(category)" novalidate="novalidate" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="title" class="col-lg-3 col-sm-3 control-label">Title</label>
            <div class="col-lg-9 col-sm-9">
                <input id="title" type="text" name="title" ng-model="category.title" placeholder="Category's name" required="required" class="form-control" />
            </div>
        </div>
        <div class="col-lg-9 col-lg-offset-3 col-sm-9 col-sm-offset-3">
            <input type="submit" class="btn btn-default" value="Create"/>
        </div>
    </fieldset>
</form>
