﻿@{
    Layout = null;
}

<form role="form" ng-submit="add(channel)" novalidate="novalidate" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="link" class="col-lg-3 col-sm-3 control-label">Link</label>
            <div class="col-lg-9 col-sm-9">
                <input id="link" type="text" name="link" ng-model="channel.link" placeholder="Channel's link" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="categories" class="col-lg-3 col-sm-3 control-label">Categories</label>
            <div class="col-lg-9 col-sm-9">
                <select id="categories" name="categories" ng-model="channel.categories" ng-options="id as cat.title for (id, cat) in categories.list" class="form-control" multiple>
                    @*<option></option>*@
                </select>
            </div>
        </div>
        <div class="col-lg-9 col-lg-offset-3 col-sm-9 col-sm-offset-3">
            <input type="submit" class="btn btn-default" value="Add" />
        </div>
    </fieldset>
</form>

