﻿@{
    Layout = null;
}

<div class="main-content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="header">
                <h1>{{channel.title}}</h1>
                <div class="pull-right">
                    <button ng-click="refresh()" class="btn btn-primary">
                        Refresh
                    </button>
                    <a ui-sref="channels.edit({channelId: channel.id})" class="btn btn-primary">
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="featured">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Featured 1
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Featured 2
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    Featured 3
                </div>
            </div>
        </div>*@
    @*TODO: Add filter to get items from channel, items from category's channels or ALL *@
    <div class="item-view col-lg-12 col-md-12 col-sm-12 col-xs-12"
         ng-repeat="item in items"
         ng-include="'/templates/item'">
    </div>
</div>