﻿@{
    Layout = null;
}

@*<div class="item-view-header">

    </div>*@
<a ui-sref="items({itemId:item.id})">
    <div class="item-view-body" ng-class="{'read':item.read}">
        <div class="item-view-image">
            @*<img src="http://dummyimage.com/200x140/000/fff" />*@
        </div>
        <div class="item-view-content">
            <div class="item-view-title">
                <a href="{{item.link}}">
                    <h3 class="title">{{item.title}}</h3>
                </a>
            </div>
            <div class="item-view-description">
                <p my-ellipsis>{{item.description}}</p>
            </div>
        </div>
    </div>
</a>