﻿@{
    Layout = null;
}

<h3 class="modal-title">Sign in</h3>
<form role="form" ng-submit="login(credentials)" name="userForm" novalidate="novalidate" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="name" class="col-lg-3 col-sm-3 control-label">Name</label>
            <div class="col-lg-6 col-sm-6">
                <input id="name" type="text" name="name" ng-model="credentials.userName" placeholder="Your name" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-3 col-sm-3 control-label">Password</label>
            <div class="col-lg-6 col-sm-6">
                <input id="password" type="password" name="password" ng-model="credentials.password" placeholder="Your password" required="required" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </fieldset>
</form>

