﻿html {
    min-height: 100%;
    height: 1px;
}

body {
    height: 100%;
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

.main-container {
    height: 100%;
}

    .main-container .row {
        height: 100%;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.left-side {
    height: 100%;
    width: 260px;
    background-color: #ecf0f1;
    float: left;
    margin-right: -260px;
    position: fixed;
}

.right-side {
    /*float: left;*/
    height: 100%;
    width: 100%;
    /*padding-left: 260px;*/
    display: block;
}

.right-side .main-view {
    padding: 20px 0px 0px 60px;
}

.item-view {
    height: 150px;
}

.item-view-body {
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.item-view-body.read {
    background-color: #EEEEEE;
}

.item-view-content {
    height: 100%;
    padding-left: 210px;
    width: 100%;
}

    .item-view-content .item-view-title {
        /*margin-top: 10px;*/
        margin-bottom: -30px;
    }

        .item-view-content .item-view-title h3 {
            font-size: 18px;
            margin: 0;
        }

    .item-view-content .item-view-description {
        height: 100%;
        /*margin-top: -26px;*/
        /*margin-top: -26px;*/
        padding-top: 35px;
    }

    /* Temporary */
    .item-view-content .item-view-description {
        overflow: hidden;
    }

        .item-view-content .item-view-description p {
            height: 100%;
        }

.item-view-image {
    width: 200px;
    margin-right: -200px;
    float: left;
}

/* Temporary */
.item-view-image {
    height: 140px;
    background-color: black;
}

.sidebar-footer {
    position: absolute;
    padding: 2px 5px;
    bottom: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
    border-top: 1px solid #ccc;
}

.left-side-container {
    padding: 0px 20px 0px 20px;
}

    .left-side-container .area {
        height: 100px;
    }

.sidebar .btn {
    /*color: white;*/
}

.sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

    /*.sidebar .sidebar-menu .area {
        height: 160px;
    }

    .sidebar .sidebar-menu > li:first-of-type {
        border-top: 1px solid #dbdbdb;
    }

    .sidebar .sidebar-menu li {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #dbdbdb;
    }

    .sidebar .sidebar-menu li {
        margin: 0;
        padding: 0;
    }

        .sidebar .sidebar-menu li > a {
            margin-right: 1px;
        }*/

    .sidebar .sidebar-menu li > a {
        /*padding: 5px 0px 5px 20px;
            display: block;*/
        text-decoration: none;
    }

    /*.sidebar .sidebar-menu .treeview-menu > li > a {
        padding: 5px 0px 5px 20px;
        display: block;
        font-size: 14px;
        margin: 0px 0px;
        margin-left: 10px;
    }*/

    .sidebar .sidebar-menu .all-category {
        padding: 0px 3px;
        /*text-align: center;*/
    }

    .sidebar .sidebar-menu .treeview .category {
        font-size: 16px;
        text-decoration: none;
    }

    .sidebar .sidebar-menu .category-arrow.fa-chevron-down {
        padding: 0px 3px;
    }

    .sidebar .sidebar-menu .category-arrow.fa-chevron-right {
        padding: 0px 5px;
    }

    .sidebar .sidebar-menu .treeview-menu > li > span {
        /*padding: 0px 0px 0px 25px*/
    }

    .sidebar .sidebar-menu .treeview .category-container {
        padding: 3px 0px 3px 0px;
    }
    /*.sidebar .sidebar-menu .treeview .category-container > a {
        font-size:16px;
    }*/
    .sidebar .sidebar-menu .treeview-menu .channel-container {
        padding: 3px 0px 3px 25px;
        font-size: 13px;
    }

        .sidebar .sidebar-menu .treeview-menu .channel-container > a {
            text-decoration: none;
        }

a {
    color: #3c8dbc;
}

.sidebar a {
    color: #555555;
}

.sidebar .sidebar-menu .treeview-menu {
    /*display: none;*/
    list-style: none;
    padding: 0;
    margin: 0;
}


.header {
    /*padding: 20px 50px;*/
    padding: 30px 0px 0px 220px;
    height: 120px;
}
